<article>
				<div class="contenido" ng-hide="preguntaActual">
					<div class="c">
						
						<h2 ng-hide="msg"> Has finalizado la Encuesta. </h2>
						<br>
						<h1> {{ msg }} </h1>
						<br>
						<br>
						<br>
						 
					</div>

				</div>

				
			</article>
			<aside>
				<div class="ranking">
					<h3> Ranking </h3>
					<table class="table table-hover">
						<thead>
							<tr>
								<tbody>
									<tr>
										<td>User</td>
										<td>Acumulado</td>
									</tr>
									
								</tbody>
							</tr>
							</thead>
							
								<tbody>
									<tr>
										<td>Rafael</td>
										<td> 95% </td>
									</tr>
									<tr>
										<td>Ocar</td>
										<td> 65% </td>
									</tr>
									<tr>
										<td>Jose</td>
										<td> 45% </td>
									</tr>
									<tr>
										<td>Antonio</td>
										<td> 30% </td>
									</tr>
								</tbody>
							
						
					</table>
				</div>
			</aside>
			