<div class="inicio" style="width:100%">
	
	<div class="container" style="width:80%; margin:0 auto;" >
		<br>
		<h2> Bienvenidos! </h2>
		<br>
		<br>
	<p style="font-size:16px"> Esta es una aplicacion desarrollada utilizando tecnologias web, como AngularJS, PHP, HTML5, CSS3, y Stylus un preprocesador de CSS  <strong>Si quieres ver el codigo de esta aplicacion puedes encontrarla en github!</strong> <a href="https://github.com/rfmartinez/EncuestAppAngularJS">EncuestAppAngularJS</a></p>
	<br>
	<br>

	<div class="github_btn" style="display:block">
		<div class="star" style="display:inline-block; vertical-align:top;margin-bottom:5px">
			<iframe src="http://ghbtns.com/github-btn.html?user=rfmartinez&repo=EncuestAppAngularJS&type=watch&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe>
		</div>
		<div class="fork" style="display:inline-block; vertical-align:top;margin-bottom:5px">
			<iframe src="http://ghbtns.com/github-btn.html?user=rfmartinez&repo=EncuestAppAngularJS&type=fork&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe>
		</div>
		<div class="follow" style="display:inline-block; vertical-align:top;margin-bottom:5px">
			<iframe src="http://ghbtns.com/github-btn.html?user=rfmartinez&type=follow&count=true&size=large" height="30" width="240" frameborder="0" scrolling="0" style="width:240px; height: 30px;" allowTransparency="true"></iframe>
		</div>
	</div>

	<br>
	<br>
	<legend> Mi Perfil</legend>

	<iframe src="https://githubbadge.appspot.com/rfmartinez" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
		
		<!--<img src="static/img/github.png" alt="" class="img-responsive">-->
	</div>

</div>